:global {
  $prefixCls: 'sru-Toast';

  .#{$prefixCls} {
    &.Toastify__toast-container {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 9999;
      display: flex;
      align-items: center;
      justify-content: center;
      pointer-events: none;

      .Toastify__toast {
        position: absolute;
        max-width: 50%;
        max-height: 50%;
        overflow-y: auto;
      }
    }

    &.#{$prefixCls}-mask {
      pointer-events: auto;
    }

    &-content {
      min-width: px2rem(60);
      padding: px2rem(10);
      text-align: center;
      word-break: break-word;
      background-color: rgba(58, 58, 58, 0.9);
      border-radius: px2rem(3);
    }

    &-icon {
      margin-bottom: px2rem(5);
      color: #fff;
      font-size: px2rem(46);
    }

    &-text {
      color: #fff;
      font-size: px2rem(18);
    }

    // 动画 fade
    .fadeIn {
      :local {
        animation-name: fadeIn;
        animation-duration: 300ms;
        animation-fill-mode: both;
      }
    }

    .fadeOut {
      :local {
        animation-name: fadeOut;
        animation-duration: 300ms;
        animation-fill-mode: both;
      }
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    @keyframes fadeOut {
      from {
        opacity: 1;
      }

      to {
        opacity: 0;
      }
    }

    // 动画 zoom
    .zoomIn {
      :local {
        animation-name: zoomIn;
        animation-duration: 300ms;
        animation-fill-mode: both;
      }
    }

    .zoomOut {
      :local {
        animation-name: zoomOut;
        animation-duration: 300ms;
        animation-fill-mode: both;
      }
    }

    @keyframes zoomIn {
      from {
        transform: scale3d(0.3, 0.3, 0.3);
        opacity: 0;
      }

      50% {
        opacity: 1;
      }
    }

    @keyframes zoomOut {
      from {
        opacity: 1;
      }

      50% {
        transform: scale3d(0.3, 0.3, 0.3);
        opacity: 0;
      }

      to {
        opacity: 0;
      }
    }
  }
}
