:global {
  $prefixCls: 'sru-TabBar';

  .#{$prefixCls} {
    position: fixed;
    bottom: 0;
    z-index: 99;
    width: 100%;

    &.MuiBottomNavigation-root {
      overflow: hidden;
    }

    &-item {
      .MuiSvgIcon-root {
        font-size: px2rem(30);
      }

      .MuiBottomNavigationAction-label {
        font-size: px2rem(16);
      }

      .MuiBottomNavigationAction-label.Mui-selected {
        font-size: px2rem(18);
      }
    }

    .MuiBadge-badge {
      min-width: px2rem(20);
      height: px2rem(20);
      padding: 0 px2rem(6);
      font-size: px2rem(16);
      border-radius: px2rem(20);
      transform: scale(1) translate(50%, -5%);
    }

    .MuiBadge-dot {
      min-width: px2rem(8);
      height: px2rem(8);
      padding: 0;
      border-radius: px2rem(4);
    }
  }
}
