.tabBar {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  overflow: hidden;
  background: #fff;
  border-top: px2rem(1) solid grey;

  & {
    .tabBarItem {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      padding: 0 px2rem(20);

      & {
        .icon,
        .title {
          display: flex;
          justify-content: center;
        }

        .icon {
          font-size: px2rem(30);
        }

        .title {
          font-size: px2rem(16);
        }

        // .spacer {
        //   height: px2rem(3);
        // }

        .badge {
          position: absolute;
          top: - px2rem(6);
          right: - px2rem(15);
          display: flex;
          align-items: center;
          justify-content: center;
          min-width: px2rem(15);
          height: px2rem(25);
          padding: 0 px2rem(5);
          color: #fff;
          font-size: px2rem(16);
          white-space: nowrap;
          text-align: center;
          background-color: #ff5b05;
          border-radius: px2rem(25);
        }

        .badgeDot {
          position: absolute;
          top: - px2rem(2);
          right: 0;
          width: px2rem(12);
          height: px2rem(12);
          background-color: #ff5b05;
          border-radius: 50%;
        }
      }
    }

    .tabBarItemActive {
      color: #108ee9;
    }
  }
}
