@font-face {
  font-family: 'Ranchers-Regular';
  src: url('@/assets/fonts/Ranchers-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'algers';
  src: url('@/assets/fonts/alger.ttf') format('truetype');
}

.avatar {
  width: 100px;
}

.logo {
  width: 150px;
}

.bgImage {
  display: block;
  width: px2rem(200);
  height: px2rem(200);
  background-image: url('@/assets/20210407170253.jpg');
  background-size: cover;
}

.title {
  display: flex;
  font-size: px2rem(28);
  font-family: 'Ranchers-Regular', sans-serif;

  .subTitle {
    color: blue;
    font-family: 'algers', sans-serif;
  }
}
