.function {
  .blue-font() {
    return: blue;
  }
}

.avatar {
  width: 100px;
}

.logo {
  width: 150px;
}

.title {
  display: flex;
  font-size: px2rem(28);

  .subTitle {
    color: blue-font();
  }
}
