:global {
  $prefixCls: 'sru-NavBar';
  $navBarBgColor: #fff;
  $navBarTextColor: #000;
  $lrPadding: px2rem(15);

  .#{$prefixCls} {
    &.MuiAppBar-root {
      z-index: 99;
      overflow: hidden;
    }

    .MuiToolbar-root {
      height: 100%;
      min-height: auto;
    }

    &-title {
      flex-grow: 1;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
